NetsuiteUploader/Web References/com.netsuite.webservices/demandPlanning.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:demandPlanningTyp="urn:types.demandplanning_2015_1.transactions.webservices.netsuite.com" xmlns:platformCommon="urn:common_2015_1.platform.webservices.netsuite.com" xmlns:platformCore="urn:core_2015_1.platform.webservices.netsuite.com" xmlns:demandPlanning="urn:demandplanning_2015_1.transactions.webservices.netsuite.com" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:demandplanning_2015_1.transactions.webservices.netsuite.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/platform/v2015_1_0/core.xsd" namespace="urn:core_2015_1.platform.webservices.netsuite.com" />
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/platform/v2015_1_0/common.xsd" namespace="urn:common_2015_1.platform.webservices.netsuite.com" />
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/transactions/v2015_1_0/demandPlanningTypes.xsd" namespace="urn:types.demandplanning_2015_1.transactions.webservices.netsuite.com" />
  <xsd:element name="itemDemandPlan" type="demandPlanning:ItemDemandPlan" />
  <xsd:complexType name="ItemDemandPlan">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" maxOccurs="1" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" maxOccurs="1" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="year" type="xsd:long" />
          <xsd:element minOccurs="0" name="month" type="demandPlanningTyp:DemandPlanMonth" />
          <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="demandPlanCalendarType" type="demandPlanningTyp:DemandPlanCalendarType" />
          <xsd:element minOccurs="0" name="demandPlanMatrix" type="demandPlanning:DemandPlanMatrix" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DemandPlan">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="startDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="calculatedQuantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="periodDemandPlanList" type="demandPlanning:PeriodDemandPlanList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DemandPlanMatrix">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="demandPlan" type="demandPlanning:DemandPlan" />
    </xsd:sequence>
    <xsd:attribute default="false" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="PeriodDemandPlanList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="periodDemandPlan" type="demandPlanning:PeriodDemandPlan" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PeriodDemandPlan">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="dayOfTheWeek" type="demandPlanningTyp:DayOfTheWeek" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="itemDemandPlanSearch" type="demandPlanning:ItemDemandPlanSearch" />
  <xsd:complexType name="ItemDemandPlanSearch">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="basic" type="platformCommon:ItemDemandPlanSearchBasic" />
          <xsd:element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchBasic" />
          <xsd:element minOccurs="0" name="lastAlternateSourceItemJoin" type="platformCommon:ItemSearchBasic" />
          <xsd:element minOccurs="0" name="locationJoin" type="platformCommon:LocationSearchBasic" />
          <xsd:element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="customSearchJoin" type="platformCommon:CustomSearchJoin" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ItemDemandPlanSearchAdvanced">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="criteria" type="demandPlanning:ItemDemandPlanSearch" />
          <xsd:element minOccurs="0" name="columns" type="demandPlanning:ItemDemandPlanSearchRow" />
        </xsd:sequence>
        <xsd:attribute name="savedSearchId" type="xsd:string" />
        <xsd:attribute name="savedSearchScriptId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ItemDemandPlanSearchRow">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRow">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="basic" type="platformCommon:ItemDemandPlanSearchRowBasic" />
          <xsd:element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchRowBasic" />
          <xsd:element minOccurs="0" name="lastAlternateSourceItemJoin" type="platformCommon:ItemSearchRowBasic" />
          <xsd:element minOccurs="0" name="locationJoin" type="platformCommon:LocationSearchRowBasic" />
          <xsd:element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="itemSupplyPlan" type="demandPlanning:ItemSupplyPlan" />
  <xsd:complexType name="ItemSupplyPlan">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" maxOccurs="1" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" maxOccurs="1" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="orderList" type="demandPlanning:ItemSupplyPlanOrderList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ItemSupplyPlanOrder">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="orderLineId" type="xsd:long" />
      <xsd:element minOccurs="0" name="orderDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="receiptDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="sourceLocation" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="orderCreated" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="orderType" type="demandPlanningTyp:ItemSupplyPlanOrderType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ItemSupplyPlanOrderList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="itemSupplyPlanOrder" type="demandPlanning:ItemSupplyPlanOrder" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="itemSupplyPlanSearch" type="demandPlanning:ItemSupplyPlanSearch" />
  <xsd:complexType name="ItemSupplyPlanSearch">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="basic" type="platformCommon:ItemSupplyPlanSearchBasic" />
          <xsd:element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchBasic" />
          <xsd:element minOccurs="0" name="locationJoin" type="platformCommon:LocationSearchBasic" />
          <xsd:element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="customSearchJoin" type="platformCommon:CustomSearchJoin" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ItemSupplyPlanSearchAdvanced">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="criteria" type="demandPlanning:ItemSupplyPlanSearch" />
          <xsd:element minOccurs="0" name="columns" type="demandPlanning:ItemSupplyPlanSearchRow" />
        </xsd:sequence>
        <xsd:attribute name="savedSearchId" type="xsd:string" />
        <xsd:attribute name="savedSearchScriptId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ItemSupplyPlanSearchRow">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRow">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="basic" type="platformCommon:ItemSupplyPlanSearchRowBasic" />
          <xsd:element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchRowBasic" />
          <xsd:element minOccurs="0" name="locationJoin" type="platformCommon:LocationSearchRowBasic" />
          <xsd:element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>