NetsuiteUploader/Web References/com.netsuite.na1.webservices/demandPlanningTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:demandPlanningTyp="urn:types.demandplanning_2014_2.transactions.webservices.netsuite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:types.demandplanning_2014_2.transactions.webservices.netsuite.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:simpleType name="DemandPlanCalendarType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="_daily" />
      <xsd:enumeration value="_monthly" />
      <xsd:enumeration value="_weekly" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DemandPlanMonth">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="_april" />
      <xsd:enumeration value="_august" />
      <xsd:enumeration value="_december" />
      <xsd:enumeration value="_february" />
      <xsd:enumeration value="_january" />
      <xsd:enumeration value="_july" />
      <xsd:enumeration value="_june" />
      <xsd:enumeration value="_march" />
      <xsd:enumeration value="_may" />
      <xsd:enumeration value="_november" />
      <xsd:enumeration value="_october" />
      <xsd:enumeration value="_september" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DayOfTheWeek">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="_sunday" />
      <xsd:enumeration value="_monday" />
      <xsd:enumeration value="_tuesday" />
      <xsd:enumeration value="_wednesday" />
      <xsd:enumeration value="_thursday" />
      <xsd:enumeration value="_friday" />
      <xsd:enumeration value="_saturday" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ItemDemandPlanProjectionMethod">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="_linearRegression" />
      <xsd:enumeration value="_movingAverage" />
      <xsd:enumeration value="_salesForecast" />
      <xsd:enumeration value="_seasonalAverage" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ItemSupplyPlanOrderType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="_purchaseOrder" />
      <xsd:enumeration value="_transferOrder" />
      <xsd:enumeration value="_workOrder" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>