NetsuiteUploader/Web References/com.netsuite.na1.webservices/supplyChainTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:listScmTyp="urn:types.supplychain_2014_2.lists.webservices.netsuite.com" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:types.supplychain_2014_2.lists.webservices.netsuite.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:simpleType name="ManufacturingOperationTaskStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="_completed" />
      <xsd:enumeration value="_inProgress" />
      <xsd:enumeration value="_notStarted" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ManufacturingOperationTaskPredecessorPredecessorType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="_finishToFinish" />
      <xsd:enumeration value="_finishToStart" />
      <xsd:enumeration value="_startToFinish" />
      <xsd:enumeration value="_startToStart" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ManufacturingLagType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="_quantity" />
      <xsd:enumeration value="_quantityPercentage" />
      <xsd:enumeration value="_time" />
      <xsd:enumeration value="_timePercentage" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>